/* @import "../omarchy/current/theme/waybar.css"; */
/* For standalone (fresh Arch install): uncomment the line below and comment the line above */
@import "../current-theme/waybar.css";

* {
  background-color: rgba(0, 0, 0, 0.1); /* @background */
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 15px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 4px 9px;
  margin: 0 2px;
  min-width: 9px;
  border-radius: 8px;
  color: @foreground;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-my-menu,
#custom-screenrecording-indicator,
#custom-update,
#custom-brightness,
#custom-brightness2,
#bluetooth,
#network,
#clock,
#tray {
  min-width: 12px;
  margin: 0 4px;
  padding: 4px 12px;
  color: @foreground;
  /* color: rgba(23, 147, 209, 0.8); */
  background-color: @background;
  border-radius: 15px;
  /*border: 2px solid rgba(255, 255, 255, 0.4);*/
  border: 2px solid rgba(23, 147, 209, 0.9);
  /* border: 3px solid rgba(23, 147, 209, 0.8); */
}

#tray {
  margin-right: 8px;
}

#bluetooth {
  margin-right: 4px;
}

#network {
  margin-right: 4px;
  padding-right: 16px; /* weird looking for 4px */
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
